.App {
  text-align: center;
  font-family: 'Lexend Deca';
  padding-top: 10px;
  padding: 10px 50px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  display: block;
}
main#carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  overflow: hidden;
  margin: auto;
  transform-style: preserve-3d;
}
.item {
  width: 80vw;
  height: 500px;
  padding: 10px;
  text-align: justify;
  font-size: 60%;
}
div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
@media screen and (max-width: 900px) and (min-width: 605px) {
  main#carousel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    overflow: hidden;
    margin: auto;
    transform-style: preserve-3d;
  }
  .item {
    width: 100vw;
    height: 500px;
    padding: 10px;
    text-align: justify;
  }
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
}
@media (max-width: 600px) {
  .body {
    height: 600px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
    align-items: center;
    grid-gap: 10px;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 80vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    margin-bottom: 10px;
    grid-gap: 20px;
  }
  
  div.item {
    position: absolute;
    width: 50%;
    height: 95%;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(0deg * var(--r)))
      translateX(calc(-200px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 10px;
  }

  div.item:nth-of-type(1) {
    --offset: 1;
    /* background-color: #90f1ef; */
    box-shadow: 1px 3px 1px #9E9E9E;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    /* background-color: #ff70a6; */
    box-shadow: 1px 3px 1px #9E9E9E;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    /* background-color: #ff9770; */
    box-shadow: 1px 3px 1px #9E9E9E;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
}